body {
  margin: 0;
  background: #050b18;
  font-family: monospace;
  color: white;
}

.app {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #00e5ff;
  text-shadow: 0 0 10px #00e5ff;
}

.chat {
  height: 400px;
  overflow-y: auto;
  background: #081426;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
}

/* ===== MESSAGES ===== */

.msg {
  max-width: 70%;
  padding: 8px 12px;
  margin: 6px 0;
  border-radius: 10px;
  word-wrap: break-word;
}

/* USER LEFT */
.user {
  align-self: flex-start;
  background: #0b2a44;
  color: #00e5ff;
}

/* AI RIGHT */
.ai {
  align-self: flex-end;
  background: #0b1c33;
  color: #ffffff;
}

.thinking {
  opacity: 0.5;
}

/* ===== INPUT ===== */

.inputRow {
  display: flex;
  gap: 8px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #0b1c33;
  color: white;
}

button {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(90deg, #00e5ff, #00ff99);
  color: black;
  font-weight: bold;
  cursor: pointer;
}